{
  "presets": ["env", "stage-2", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
  ],
  "env": {
    "production": {
      "presets": [["env", { "modules": false, "useBuiltIns": true }], "stage-2", "react"],
      "plugins": [
        "transform-decorators-legacy",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }]
      ]
    },
    "test": {
      "presets": [["env"], "stage-2", "react"]
    }
  }
}
