{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-prettier"
  ],
  "rules": {
    "rule-empty-line-before": ["always", {
      "severity": "warning"
    }],
    "font-family-no-missing-generic-family-keyword": null
  }
}
