{
  "extends": "stylelint-config-standard",
  "rules": {
    "rule-empty-line-before": ["always", {
      "severity": "warning"
    }],
    "font-family-no-missing-generic-family-keyword": null
  }
}
