
// ███████╗ ██████╗ ███╗   ██╗████████╗    ███████╗██╗███████╗███████╗
// ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝    ██╔════╝██║╚══███╔╝██╔════╝
// █████╗  ██║   ██║██╔██╗ ██║   ██║       ███████╗██║  ███╔╝ █████╗
// ██╔══╝  ██║   ██║██║╚██╗██║   ██║       ╚════██║██║ ███╔╝  ██╔══╝
// ██║     ╚██████╔╝██║ ╚████║   ██║       ███████║██║███████╗███████╗
// ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚══════╝╚═╝╚══════╝╚══════╝

@fontSizeH1: 28px;


//  ██████╗ ██████╗ ██╗      ██████╗ ██████╗ ███████╗
// ██╔════╝██╔═══██╗██║     ██╔═══██╗██╔══██╗██╔════╝
// ██║     ██║   ██║██║     ██║   ██║██████╔╝███████╗
// ██║     ██║   ██║██║     ██║   ██║██╔══██╗╚════██║
// ╚██████╗╚██████╔╝███████╗╚██████╔╝██║  ██║███████║
//  ╚═════╝ ╚═════╝ ╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝

@primary-color: #0077e6;


// ██████╗ ██╗███████╗██████╗ ██╗      █████╗ ██╗   ██╗
// ██╔══██╗██║██╔════╝██╔══██╗██║     ██╔══██╗╚██╗ ██╔╝
// ██║  ██║██║███████╗██████╔╝██║     ███████║ ╚████╔╝
// ██║  ██║██║╚════██║██╔═══╝ ██║     ██╔══██║  ╚██╔╝
// ██████╔╝██║███████║██║     ███████╗██║  ██║   ██║
// ╚═════╝ ╚═╝╚══════╝╚═╝     ╚══════╝╚═╝  ╚═╝   ╚═╝

@headerHeight: 52px;
