/* remove below code when you start to write style files */

:root {
  --mainColor: yellow;
}

div {
  color: var(--mainColor);
}

.example {
    display: flex;
    transition: all .5s;
    user-select: none;
    background: linear-gradient(to bottom, white, black);
}
